[submodule "Newscientist Article"]
	path = newscientist_article
	url = https://github.com/bguardia/newscientist-article-copy
[submodule "apple.com-2014-page-copy"]
	path = apple.com-2014-page-copy
	url = https://github.com/bguardia/apple.com-2014-page-copy
[submodule "site-heat-map"]
	path = site-heat-map
	url = https://github.com/bguardia/site-heat-map
[submodule "tic-tac-toe-js"]
	path = tic-tac-toe-js
	url = https://github.com/bguardia/tic-tac-toe-js
[submodule "todo-app-dist"]
	path = todo-app-dist
	url = https://github.com/bguardia/todo-app-dist
